{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white  my-5 ">Home Page</h3>
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
          <h1 class="display-4">This is Blog Title</h1>
          <p class="lead">Nesciunt dolores quos consectetur, corruptiquia cupiditate earum facilies sed modi necessitatibus aliquid eos dolorem dolorem veit illo rerum? eaque quidem temporibus deleniti fuga consequuntur deletus labore?</p>
        </div>
    </div>
</div>

{% endblock content %}